body {
  background-color: black;
}

.overlay-container {
  height: 100vh;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}

.overlay-container .description {
  font-size: 2vw;
  text-align: center;
}


@media screen and (max-width: 600px) {
  .overlay-container {
    height: 80vh;
  }
  .overlay-container p {
    font-size: 6vw;
  }

  .overlay-container .description {
    font-size: 4vw;
  }
}

/* Media query for screens between 601px and 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .overlay-container p {
    font-size: 8vw;
  }

  .overlay-container .description {
    font-size: 5vw;
  }
}

